{#
    This is a show method using twig
    DO NOT DELETE
    Commenting example using twig
    #}
{% extends 'base.html.twig' %}

{% block title %} Read {{ title }} {% endblock %}
{% block body %}

<h1>{{ title }}</h1>
<ul>
    {% for text in texts %}
       <li>{{ text }}</li>
    {% endfor %}
</ul>
{% endblock %}